In [974]:
#importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("bmh")

In [975]:
#importando os dados
df = pd.read_csv("Tabela.csv", sep=';', encoding='utf-8')
df.head(13)

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$)
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo
2,3,Compra de empilhadeira,170,140,Médio
3,4,Projeto de P&D I,270,250,Médio
4,5,Projeto de P&D II,340,320,Médio
5,6,Aquisição de novos equipamentos,230,320,Médio
6,7,Capacitação de funcionários,50,90,Médio
7,8,Ampliação da estrutura de carga rodoviária,440,190,Alto
8,9,Construção de datacenter,320,120,Alto
9,10,Aquisição de empresa concorrente,800,450,Alto
10,11,Compra de serviços em nuvem,120,80,Baixo
11,12,Criação de aplicativo mobile e desktop,150,120,Baixo
12,13,Terceirizar serviço de otimização da logística,300,380,Médio

In [ ]:
df.loc[len(df)] = ({"Opção":"14","Descrição":"Investimento novo","Custo do investimento (R$)":350,"Retorno esperado (R$)":350,"Risco do investimento (R$)":"Alto"})
df.loc[len(df)] = ({"Opção":"15","Descrição":"Investimento com Erro","Custo do investimento (R$)":620,"Retorno esperado (R$)":500,"Risco do investimento (R$)":"Alto"})
df.loc[len(df)] = ({"Opção":"16","Descrição":"Investimento com risco diferente","Custo do investimento (R$)":250,"Retorno esperado (R$)":350,"Risco do investimento (R$)":"Alto"})

In [976]:
df['Porcentagem de ganho (%)'] = df['Retorno esperado (R$)'] / df['Custo do investimento (R$)'] *100
df = df.sort_values(by='Retorno esperado (R$)',ascending=False)
df

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%)
9,10,Aquisição de empresa concorrente,800,450,Alto,56.250000
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000
4,5,Projeto de P&D II,340,320,Médio,94.117647
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435
3,4,Projeto de P&D I,270,250,Médio,92.592593
7,8,Ampliação da estrutura de carga rodoviária,440,190,Alto,43.181818
2,3,Compra de empilhadeira,170,140,Médio,82.352941
8,9,Construção de datacenter,320,120,Alto,37.500000
11,12,Criação de aplicativo mobile e desktop,150,120,Baixo,80.000000
6,7,Capacitação de funcionários,50,90,Médio,180.000000
10,11,Compra de serviços em nuvem,120,80,Baixo,66.666667

In [977]:
df['Retorno X Porcentagem'] = df['Retorno esperado (R$)'] * df['Porcentagem de ganho (%)']
df = df.sort_values(by='Retorno X Porcentagem',ascending=False)
df

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%),Retorno X Porcentagem
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667,48133.333333
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435,44521.739130
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043,35765.957447
4,5,Projeto de P&D II,340,320,Médio,94.117647,30117.647059
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000,27225.000000
9,10,Aquisição de empresa concorrente,800,450,Alto,56.250000,25312.500000
3,4,Projeto de P&D I,270,250,Médio,92.592593,23148.148148
6,7,Capacitação de funcionários,50,90,Médio,180.000000,16200.000000
2,3,Compra de empilhadeira,170,140,Médio,82.352941,11529.411765
11,12,Criação de aplicativo mobile e desktop,150,120,Baixo,80.000000,9600.000000
7,8,Ampliação da estrutura de carga rodoviária,440,190,Alto,43.181818,8204.545455
10,11,Compra de serviços em nuvem,120,80,Baixo,66.666667,5333.333333
8,9,Construção de datacenter,320,120,Alto,37.500000,4500.000000

In [978]:
# Inicializar as variáveis para armazenar as seleções
selecoes = []
custo_total = 0
riscos_selecionados = []

# Percorrer o DataFrame
for _, row in df.iterrows():
    risco = row['Risco do investimento (R$)']
    custo_investimento = row['Custo do investimento (R$)']

    # Verificar se a opção atende aos critérios de risco e custo
    if riscos_selecionados.count(risco) < 3 and custo_total + custo_investimento <= 2400:
        riscos_selecionados.append(risco)
        selecoes.append(row)
        custo_total += custo_investimento


    # Verificar se todas as opções de risco foram selecionadas duas vezes e se o custo total ultrapassa 2400
    if riscos_selecionados.count('Médio') >= 2 and riscos_selecionados.count('Alto') >= 1 and riscos_selecionados.count('Baixo') >= 2 and custo_total >= 2400:
        break

# Criar um novo DataFrame com as seleções
df_selecoes = pd.DataFrame(selecoes)

# Imprimir as seleções
display(df_selecoes)

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%),Retorno X Porcentagem
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667,48133.333333
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435,44521.739130
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043,35765.957447
4,5,Projeto de P&D II,340,320,Médio,94.117647,30117.647059
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000,27225.000000
11,12,Criação de aplicativo mobile e desktop,150,120,Baixo,80.000000,9600.000000
7,8,Ampliação da estrutura de carga rodoviária,440,190,Alto,43.181818,8204.545455

In [979]:
# Inicializar as variáveis para armazenar as seleções
selecoes = []
custo_total = 0
risco_medio = 0
risco_alto = 0
risco_baixo = 0

# Percorrer o DataFrame
for _, row in df.iterrows():
    risco = row['Risco do investimento (R$)']
    custo_investimento = row['Custo do investimento (R$)']

    # Verificar se a opção atende aos critérios de risco e custo
    if (
        (risco == 'Médio' and risco_medio < 2) or
        (risco == 'Alto' and risco_alto < 1) or
        (risco == 'Baixo' and risco_baixo < 2)
    ) and custo_total + custo_investimento <= 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if risco == 'Médio':
            risco_medio += 1
        elif risco == 'Alto':
            risco_alto += 1
        elif risco == 'Baixo':
            risco_baixo += 1
        else:
            custo_total -= custo_investimento
            selecoes.pop()

    elif (
        (risco == 'Médio' and risco_medio < 2) or
        (risco == 'Alto' and risco_alto < 1) or
        (risco == 'Baixo' and risco_baixo < 2)
    ) and custo_total + custo_investimento > 2400:
        custo_total += custo_investimento


    elif ( 
        (risco == 'Médio' and risco_medio > 1) or
        (risco == 'Alto' and risco_alto > 0) or
        (risco == 'Baixo' and risco_baixo > 1)
    ) and custo_total + custo_investimento <= 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if risco == 'Médio':
            risco_medio += 1
        elif risco == 'Alto':
            risco_alto += 1
        elif risco == 'Baixo':
            risco_baixo += 1
        else:
            custo_total -= custo_investimento
            selecoes.pop()

    else:
        selecoes.append(row)
        selecoes.pop()



# Criar um novo DataFrame com as seleções
df_selecoes = pd.DataFrame(selecoes)

# Imprimir as seleções
display(df_selecoes)

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%),Retorno X Porcentagem
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667,48133.333333
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435,44521.739130
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043,35765.957447
4,5,Projeto de P&D II,340,320,Médio,94.117647,30117.647059
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000,27225.000000

In [980]:
# Inicializar as variáveis para armazenar as seleções
selecoes = []
custo_total = 0
risco_medio = 0
risco_alto = 0
risco_baixo = 0

# Percorrer o DataFrame
for _, row in df.iterrows():
    risco = row['Risco do investimento (R$)']
    custo_investimento = row['Custo do investimento (R$)']

    # Verificar se a opção atende aos critérios de risco e custo
    if (
        (risco == 'Médio' and risco_medio < 2) or
        (risco == 'Alto' and risco_alto < 1) or
        (risco == 'Baixo' and risco_baixo < 2)
    ) and custo_total + custo_investimento <= 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if risco == 'Médio':
            risco_medio += 1
        elif risco == 'Alto':
            risco_alto += 1
        elif risco == 'Baixo':
            risco_baixo += 1

    elif (
        (risco == 'Médio' and risco_medio < 2) or
        (risco == 'Alto' and risco_alto < 1) or
        (risco == 'Baixo' and risco_baixo < 2)
    ) and custo_total + custo_investimento > 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if (risco == 'Médio' and risco_medio > 2):
            indice_ultimo_medio = None
            for i in range(len(selecoes) - 1, -1, -1):
                if selecoes[i]['Risco do investimento (R$)'] == 'Médio':
                    indice_ultimo_medio = i
                    custo_investimento_removido = selecoes[indice_ultimo_medio]['Custo do investimento (R$)']
                    selecoes.pop(indice_ultimo_medio)
                    custo_total -= custo_investimento_removido
                    break

        if (risco == 'Alto' and risco_alto > 1):
            indice_ultimo_alto = None
            for i in range(len(selecoes) - 1, -1, -1):
                if selecoes[i]['Risco do investimento (R$)'] == 'Alto':
                    indice_ultimo_alto = i
                    custo_investimento_removido = selecoes[indice_ultimo_alto]['Custo do investimento (R$)']
                    selecoes.pop(indice_ultimo_alto)
                    custo_total -= custo_investimento_removido
                    break
  
        if (risco == 'Baixo' and risco_baixo > 2):
            indice_ultimo_baixo = None
            for i in range(len(selecoes) - 1, -1, -1):
                if selecoes[i]['Risco do investimento (R$)'] == 'Baixo':
                    indice_ultimo_baixo = i
                    custo_investimento_removido = selecoes[indice_ultimo_baixo]['Custo do investimento (R$)']
                    selecoes.pop(indice_ultimo_baixo)
                    custo_total -= custo_investimento_removido
                    break
 
    elif ( 
        (risco == 'Médio' and risco_medio > 1) or
        (risco == 'Alto' and risco_alto > 0) or
        (risco == 'Baixo' and risco_baixo > 1)
    ) and custo_total + custo_investimento <= 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if risco == 'Médio':
            risco_medio += 1
        elif risco == 'Alto':
            risco_alto += 1
        elif risco == 'Baixo':
            risco_baixo += 1

# Criar um novo DataFrame com as seleções
df_selecoes = pd.DataFrame(selecoes)

# Imprimir as seleções
display(df_selecoes)
custo_investimento = df_selecoes['Custo do investimento (R$)'].sum()
print(custo_investimento)

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%),Retorno X Porcentagem
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667,48133.333333
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435,44521.739130
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043,35765.957447
4,5,Projeto de P&D II,340,320,Médio,94.117647,30117.647059
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000,27225.000000
9,10,Aquisição de empresa concorrente,800,450,Alto,56.250000,25312.500000
7,8,Ampliação da estrutura de carga rodoviária,440,190,Alto,43.181818,8204.545455
8,9,Construção de datacenter,320,120,Alto,37.500000,4500.000000

3300

In [981]:
# Inicializar as variáveis para armazenar as seleções
selecoes = []
custo_total = 0
risco_medio = 0
risco_alto = 0
risco_baixo = 0

# Percorrer o DataFrame
for _, row in df.iterrows():
    risco = row['Risco do investimento (R$)']
    custo_investimento = row['Custo do investimento (R$)']

    # Verificar se a opção atende aos critérios de risco e custo
    if (
        (risco == 'Médio' and risco_medio < 2) or
        (risco == 'Alto' and risco_alto < 1) or
        (risco == 'Baixo' and risco_baixo < 2)
    ) and custo_total + custo_investimento <= 2400:
        selecoes.append(row)
        custo_total += custo_investimento
        if risco == 'Médio':
            risco_medio += 1
        elif risco == 'Alto':
            risco_alto += 1
        elif risco == 'Baixo':
            risco_baixo += 1

 

# Criar um novo DataFrame com as seleções
df_selecoes = pd.DataFrame(selecoes)

# Imprimir as seleções
display(df_selecoes)
custo_investimento = df_selecoes['Custo do investimento (R$)'].sum()
print(custo_investimento)

,Opção,Descrição,Custo do investimento (R$),Retorno esperado (R$),Risco do investimento (R$),Porcentagem de ganho (%),Retorno X Porcentagem
12,13,Terceirizar serviço de otimização da logística,300,380,Médio,126.666667,48133.333333
5,6,Aquisição de novos equipamentos,230,320,Médio,139.130435,44521.739130
0,1,Ampliação da capacidade do armazém ZDP em 5%,470,410,Baixo,87.234043,35765.957447
1,2,Ampliação da capacidade do armazém MGL em 7%,400,330,Baixo,82.500000,27225.000000
9,10,Aquisição de empresa concorrente,800,450,Alto,56.250000,25312.500000

2200

df.loc[len(df)] = ({"Opção":"14","Descrição":"Investimento novo","Custo do investimento (R$)":"350","Retorno esperado (R$)":"350","Risco do investimento (R$)":"Alto"})
df.loc[len(df)] = ({"Opção":"15","Descrição":"Investimento com Erro","Custo do investimento (R$)":"j620","Retorno esperado (R$)":"500","Risco do investimento (R$)":"Alto"})
df.loc[len(df)] = ({"Opção":"16","Descrição":"Investimento com risco diferente","Custo do investimento (R$)":"250","Retorno esperado (R$)":"350","Risco do investimento (R$)":"Muito Alto"})